.*
!.gitignore
*~
*.orig
*.log
*.run
*.tgz
*.xz
*.pkg
*.bak
*.tar.gz
*.tar.zst
*.old
*.db
*.files
*/src/
*/pkg/
dxvk-master/
vkd3d-proton-master/
DXVKBUILD/master/
VKD3D_PROTONBUILD/master/
*.dxvkdirty
*.vkd3ddirty
